body{
	background-color: #8BCCFE;
}
h1{
	text-align: center;
	font-size: 2em;
}
label {
	display: block;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 5px;
	font-size: 1.1em;
	width: 20em;
}

input {
 	display: block;
 	margin: auto;
 	width: 20em;
}

@media screen and (min-width:420px){
	body{
		background-color: #FEBBEC;
	}
	h1{
		font-size: 1.5em;
	}
	label{
		margin: auto;
		width: 10em;
	}
	input{
		width: 10em;
	}
	
}